# Generate some dummy data

In this notebook we generate some dummy data. This is a fixed process.

$y_{t+1} = \phi_1 x_{t} + \phi_2 z_{t} + r_t$

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
n = 3652 # generate 10 year history
phi1 = 2
phi2 = 3

In [3]:
x = np.round(np.random.uniform(high=100.0, low=0.0, size=n))
z = np.round(np.random.uniform(high=30.0, low=0.0, size=n))
r = np.round(np.random.normal(loc=0, scale=10, size=n))
u1 = np.round(np.random.uniform(high=60, low=10.0, size=n))
u2 = np.round(np.random.uniform(high=200, low=100.0, size=n))
y = np.zeros(n)
y[1:n] = phi1*x[0:(n-1)] + phi2*z[0:(n-1)] + r[1:n]

In [7]:
var_r = np.std(r)
print(f'MSE of model is {var_r}')

MSE of model is 10.028731074447988

In [53]:
datelist = pd.date_range(end=pd.datetime.today(), periods=n, normalize=True).tolist()
my_data = pd.DataFrame({'date': datelist, 'input1': x, 'input2': z, 'input3': u1, 'input4': u2, 'target': y})
my_data = my_data.drop(0)
my_data.head(5)

        date  input1  input2  input3  input4  target
1 2008-08-24    52.0    17.0    56.0   102.0   191.0
2 2008-08-25    14.0     0.0    47.0   121.0   156.0
3 2008-08-26    17.0    27.0    39.0   157.0    34.0
4 2008-08-27     2.0    11.0    15.0   119.0   113.0
5 2008-08-28    22.0     8.0    20.0   187.0    58.0

In [54]:
my_data.to_csv('data.csv', index=False)